body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.hero {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

nav {
    background: #111;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #ff4b2b;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: #ff4b2b;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* FORM */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}
